<div class="content">

    <div class="row">

        <nav class="botonera-nav">
            <button  type="button" class="btn btn-warning" appVolver="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span class="indentado">Volver  al inicio</span></button>
        </nav>
        <br><br>


            
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Directivas</h5>
            <p class="card-text">Las directivas son una de las piezas clave que nos brinda Angular para manipular el DOM de manera más sencilla y por tanto tener código más mantenible. 
                    Se puede decir que las directivas son pequeñas instrucciones de código que se aplican sobre el DOM. En cierto sentido, los componentes son un tipo de directiva, ya que cuando creamos un componente lo que estamos diciendo es que se construya el HTML a partir de nuestra clase .ts.[...]</p>
            </div>
        </div>

    </div>
</div>