
<div class="content">

    <div class="row">

        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Behaviur Subject</h5>
                <form  class="form-inline mb-3">    
                        <label for="dia">Escribe un valor a emitir:</label>
                        <input [(ngModel)]="valorEmitir" name="valorEmitir" type="string" class="form-control width-initial">
            
                        <button (click)="emitir()" class="btn btn-success ml-3"> Emitir </button>
                    </form>
            
            


            </div>
        </div>
    </div>
</div>