<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido al TFM!
  </h1>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>A partir de aqui se van a cargar los distintos componentes: </h2>
      <div class="clearfix"></div>
      <br><br><br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<script type="text/javascript">  
  document.write("Este es un ejemplo de una sentencia JavasScript")
</script>
