<nav class="navbar navbar-dark bg-dark">
  <p style="color: white">Trabajo de Fin de Máster - Alumno Piero Rospigliosi Beltrán</p>
</nav>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/introduccion">Introducción</a></li>
          <li class="breadcrumb-item"><a routerLink="/componente">Componente</a></li>
          <li class="breadcrumb-item"><a routerLink="/ecmascript">ECMAScript</a></li>
          <li class="breadcrumb-item"><a routerLink="/directiva">Directiva</a></li>
          <li class="breadcrumb-item"><a routerLink="/observable">Observable</a></li>
          <!-- aria-current="page" -->
        </ol>
      </nav>
      <h6>A partir de aquí se van a cargar los distintos componentes: </h6>
      <div class="clearfix"></div>
      <br>
      <hr/>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<script type="text/javascript">  
  document.write("Este es un ejemplo de una sentencia JavasScript")
</script>
