
<div class="content">

        <div class="row">
    
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">ECMAScript</h5>
                <p class="card-text">Es el estándar que define como debe ser el lenguaje JavaScript publicado por ECMA
                        International. Dicho de otra manera, es la especificación que deben seguir los
                        creadores de software para crear intérpretes para JavaScript.[...]</p>
                </div>
            </div>
        </div>
    </div>