<div class="content">

    <div class="row">

        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Componente</h5>
            <h6 class="card-subtitle mb-2 text-muted">Este componente se genera a partir de un template HTML y una clase TypeScript</h6>
            <p class="card-text">Un componente controla una zona de espacio de la pantalla a través de las vistas. Un
                    componente es el elemento que define la vista. Un componente es una clase estándar
                    decorada con @Component.[...]</p>
            </div>
        </div>
    </div>
</div>