<div class="content">

    <div class="row">

        <p>Esta es la vista que se genera a partir de un template y una clase typescript</p>

        <p>Los componentes son los elementos que definen las vistas. Una vista es una parte de la pantalla, por tanto los componentes son los elementos que definen partes de la pantalla.
            Estos están compuestos principalmente por una clase que define la lógica de la vista y un plantilla que contiene el código HTML junto a directivas de Angular que afectan su comportamiento.
        </p>
    </div>
</div>