
<div class="card">
        <div class="card-body">
          <h5 class="card-title">Introducción</h5>
          <p class="card-text">El desarrollo software avanza hacia formas que permiten programar a más alto nivel,
                tener mayor capacidad de abstracción y mayor capacidad para centrarse en la lógica
                de negocio de cada aplicación a desarrollar.
                Esto se debe al aumento creciente de la necesidad de crear aplicaciones cada vez más
                robustas y minimizar los recursos humanos necesarios el desarrollo, la implementación,
                la operación, el mantenimiento y reutilización del código. [...]</p>
        </div>
    </div>

    <h1 *ngIf="mostrarContenidoOculto == true">Contenido oculto!!</h1>